body
{
    background-color:lightgrey;
}
.card-container
{
    margin-top: 25px;
    width:300px;
    height:430px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow:hidden;
    display:inline-block;
} 
.upper-container
{
    height:120px;
    background:black;
}
.image-container
{
    background:black;
    width:200px;
    height:200px;
    transform:translate(45px,15px);
}
.image-container img
{
    background:black;
    width:200px;
    height:200px;
    border-radius: 50%;
}
.lower-container
{
    height:340px;
    background:white;
    padding:20px;
    padding-top:40px;
    text-align: center;
}
.lower-container h4
{
    color:black;
    opacity:.4;
    font-weight:bold;
    box-sizing: border-box;
}
.lower-container h3
{
    line-height:.8;
    font-weight:bold;
    box-sizing:border-box;
}
.lower-container p
{
    font-size: 18px;
    font-family:sans-serif;
    color:darkgreen;
    margin-bottom:15px;  
}