body
{
    background-color: lightcoral;
}
.card-container
{
    margin-top: 20px;
    width:300px;
    height:430px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow:hidden;
    display:inline-block;
} 
.upper-container
{
    height:120px;
    background:darkred ;
}
.image-container
{
    background:white;
    width:200px;
    height:200px;
    border-radius: 50%;
    transform:translate(45px,15px);
}
.image-container img
{
    background:white;
    width:200px;
    height:200px;
    border-radius: 50%;
}
.lower-container
{
    height:340px;
    background:white;
    padding:20px;
    padding-top:40px;
    text-align: center;
}
.lower-container h4
{
    color:red;
    opacity:.5;
    font-weight:bold;
    box-sizing: border-box;
}
.lower-container h3
{
    line-height:.6;
    color:red;
    font-weight:bold;
    font-size: 26px;
    box-sizing:border-box;
}
.lower-container p
{
    font-size: 19px;
    font-family:sans-serif;
    color:brown;
    margin-bottom:30px;  
}